
namespace: pacman

commonLabels:
  app.kubernetes.io/name: pacman

images:
- name: pacman:latest
  newName: quay.io/mdelder/pacman
  newTag: latest

resources:
- base/mongo-pvc.yaml
- base/mongo-deployment.yaml
- base/pacman-deployment.yaml
- base/mongo-service.yaml
- base/pacman-service.yaml
- base/pacman-route.yaml